<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Logged in</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
      }
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        padding: 20px;
        width: 320px; /* 固定幅 */
        height: 40vh;
        max-width: 100%; /* 小さい画面での調整 */
        border-radius: 10px;
      }
      h1 {
        color: #333;
      }
      p {
        color: #666;
      }
      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h3>ログイン完了！</h3>
      <img src="{{.Picture}}" alt="{{.Email}}">
      <div style="margin-top: 1rem;">管理者に接続するURLを確認してください。</div>
    </div>
  </body>
</html>
